@import "../../style/variables";
@import "../../style/reset";
@import "../../style/fonts";
@import "../../style/main";

.App {
  box-sizing: border-box;
  background-color: $main_background_color;
  display: grid;
  &-content {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 900px) minmax(
        20px,
        1fr
      );
    &--entireRow {
      grid-column: 1 / -1;
    }
    &--middle {
      grid-column: 2;
    }
  }
}

@media (max-width: 750px) {
  .App {
    box-sizing: border-box;
    background-color: $main_background_color;
    display: grid;
    &-content {
      grid-template-columns: minmax(10px, 1fr) minmax(auto, 18fr) minmax(10px, 1fr);
      &--entireRow {
        grid-column: 1 / -1;
      }
      &--middle {
        grid-column: 2;
      }
    }
  }
}

@media (max-width: 500px) {
  .App {
    box-sizing: border-box;
    background-color: $main_background_color;
    display: grid;
    &-content {
      grid-template-columns: minmax(5px, 1fr) minmax(18fr, auto) minmax(5px, 1fr);
      &--entireRow {
        grid-column: 1 / -1;
      }
      &--middle {
        grid-column: 2;
      }
    }
  }
}
