@import "../../style/variables";
@import "../../style/reset";
@import "../../style/fonts";
@import "../../style/main";


// TODO: add fonts

.App {
  box-sizing: border-box;
  background-color: $main_background_color;
  display: grid;
  &-content {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 800px) minmax(20px, 1fr);
    &--entireRow {
      grid-column: 1 / -1;
    }
    &--middle {
      grid-column: 2;
    }
  }
}

