@import "../../style/variables";
$header_height: 20px;

.Header {
  background-color: $main_blue;
  width: 100%;
  height: 115px;
  grid-template-rows: auto 1fr;
  &-Stripe {
    height: $header_height;
    background-color: $secondary_blue;
    width: 100%;
  }
  &-Title {
    height: calc(100% - #{$header_height});
    color: $white_opacity;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
    &--text {
      grid-column: 2;
      align-self: center;
      font-size: 36px;
    }
  }
}
