// Colours
$white: #fff;
$orange: #F58C2E;

$main_blue: #355990;
$secondary_blue: #1e3b67;
$weak_blue: #8CA2C2;

$white_opacity: rgba(255, 255, 255, 0.7);
$main_background_color:#F7F7F7;
$form_background_color: $white;
$main_border_color: #ececec;
$placeholder_color: #cacaca;

$required_color:#F6BBBC;

$success_color: #F0FCF3;
$success_color_title:#75C27B;
// Header
$header_height: 20px;
